# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Environment variables
.env
env/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# RAG / ML data (AJUSTAR SEGÚN TU PROYECTO)
data/
datasets/
models/
embeddings/
vectorstore/
chroma/
faiss_index/

# Outputs
outputs/
cache/
tmp/


# Ignorar todo appdata
infrastructure/appdata/**

# Permitir entrar a pipelines
!infrastructure/appdata/pipelines/

# Permitir SOLO este archivo
!infrastructure/appdata/pipelines/pipeline.py
